# Hack for setup.py's broken dependency resolution
# - two indirect dependencies have a dependency on dill
# - one has a newer version requirement than the other
# - but is detected 'after' the indirect dependency which
# - installs an older version, which setup.py then refuses
# - to upgrade... so we explicitly install a new enough
# - version up-front to avoid setup.py/PEP's poor dependency
# - resolution issues (Note: PIP does things right and does
# - not need this hack... it's just for setup.py / PEP)
dill>=0.3.3

# Note: Avoid pinning to a specific major/minor version here
# - adding minimum version requirements is fine, but nothing else.
#
# Good: GDAL
# Good: GDAL>=2.4
# Bad: GDAL~=2.4
# Bad: GDAL==2.4
# Bad: GDAL<3.0
#
# If we have speciifc version requirements, they should be enforced in
# environment-specific setup/install scripts, NOT in requirements.txt
# which is environment-agnostic (specific to our code, not target envs)
pytest
pytest-cov
simplekml
rasterio
pyproj>=2.4
Click>=7.0
click-plugins
GDAL
pandas
geopandas
luigi>=3.0
matplotlib
numpy>=1.22
Pillow>=8.0.1
PyYAML
six
spatialist
structlog>=21.1
eodatasets3
dataclasses; python_version < '3.7'
